.how-to-use {
    font-family: Arial, sans-serif;
    max-width: 700px;
    margin: auto;
    background: var(--block-color);
    padding: 20px;
    border-radius: 10px;
    border: 1px solid var(--border);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    color: grey;
}

h1,h2,h3,h4,h5,h6 {
    color: white;
}

ul li {
    background-color: transparent !important;
    padding: 0 !important;
    border-radius: 0;
    box-shadow: none;
    color: grey !important;
}

p, li {
    color: grey;
    margin-left: 20px;
}

.how-to-use h2 {
    text-align: center;
}

.how-to-use h3 {
    margin-top: 20px;
}

.how-to-use ol, 
.how-to-use ul {
    padding-left: 20px;
}

.how-to-use li {
    margin-bottom: 10px;
}

.how-to-use h4 {
    margin-top: 15px;
}

.how-to-use p {
    margin-left: 15px;
}