@media(max-width:765px){.left-block,.right-block{display:none;overflow:hidden}.content{width:100%}.layout{display:flex}.server tr{display:grid}.server td{width:100%}.server_info{padding:0;margin-bottom:10px}.server_icon{margin:10px 0}.join_link{margin:10px 0;height:40px}.server_info div{justify-self:center;margin:0}.about_server{text-align:center;margin-top:20px;padding:0 10px}.name{margin-bottom:5px}.pills{margin-bottom:20px}}

@media(max-width:760px){
    .modal-dialog {
        min-width: 200px;
        margin: 50px auto;
    }
    .modal-content {
        min-width: 200px;
        margin: 50px auto;
    }
    #connect-wallet {
        display: none;
    }
}